#HEADER

#utility
*.map

#folders
/result/
/modules/1-2-donate/
/modules/2-backstage/
/modules/3-cards/
/modules/4-friend/
/modules/5-testimonials/
/modules/6-0-footer/

# exclude
!.gitignore
!README.md